.disabled {
    color: #999;
}
.trade-button {
    width: 30px;
}

.total-button {
    width: 40px;
}

.upper-line {
	color: #555;    
    width: 100%;
    background: #fcfcfc;
    border-bottom: 1px solid #ddd;
    display: inline;
}

.conn-status {
	clear: left;
	float: left;
	font-size: 80%;
}

.conn-status .established {
    color: orange;
}

.conn-status .online {
    color: lime;
}

.conn-status .offline {
    color: red;
}

.main-container {
	margin: 0 150px 30px 150px;
}

.restart-panel {
    clear: right;
    float: right;
    font-size: 80%;
}

.restart-panel input {
    width: 40px;
    height: 12px;
    vertical-align: baseline;
}




.trade-ui-container {
	border: 1px solid #dddddd;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-height: 645px;
    max-height: 645px;
    margin-top: 4px;
}


.left-panel {
    padding-top: 5px;
    margin-right: 20px;
    float: left;
}

.log {
    background: #f0f0f0;
    border: 1px solid #dddddd;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 80%;
    min-height: 645px;
    max-height: 645px;
}




.stock-data {
    vertical-align: middle;
}

.va td,
.va th{
    vertical-align: middle;
    text-align: center;
}

